@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

h4, a {
    font-weight: 400;
    color: #595d60;
}
a {
    font-size: 12px;
    margin:10px;
    cursor: pointer;
}

.container {
    background: linear-gradient(to bottom right, rgb(230, 67, 159), blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content{
    background-color: #181818;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.input{
    border: 1px solid #3a78a2;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    margin: 15px;
    padding: 10px 0 0 10px;
}

input[type="text"], input[type="password"]{
    border: none;
    background: transparent;
    width: 250px;
    height: 30px;
}

.btn {
    border: 1px solid #539F6F;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.icons{
    margin-top: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
i{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

input[type="text"]:focus, input[type="password"]:focus{
    border: 0px;
    outline: none;
    cursor:text;
    color: #fff;
}
